<!doctype html>
<html lang='it'>
  <head>
    <!-- Required meta tags -->
    <title>{TORNEO} | Pomelo</title>
    <meta charset='utf-8'>
	<meta name='description' content='Pomelo is a self-hosted opensource tournament web-server and local script' />
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <link rel='stylesheet' media='screen' href='https://fontlibrary.org/face/raleway' type='text/css'/>
    <link rel='icon' href='/pomelo/img/favicon.png'>

    <!-- Colors and bars -->
    <!-- Chrome, Firefox OS and Opera -->
    <meta name="theme-color" content="#ffffff" id="browserColor">
    <!-- Windows Phone -->
    <meta name="msapplication-navbutton-color" content="#ffffff" id="browserColorwp">
    <!-- iOS Safari -->
    <meta name="apple-mobile-web-app-status-bar-style" content="#ffffff" id="browserColorap">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    
    <meta name='HandheldFriendly' content='true' />
    <meta name="apple-mobile-web-app-capable" content="yes">
	<meta name='mobile-web-app-capable' content='yes'>

    <!-- bootstrap -->
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous'>
    <!-- <script src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous'></script> -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous'></script>
    <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous'></script>
    
    <script src='/pomelo/js/clipboard.min.js'></script>
    <script src='/pomelo/js/script.js'></script>
    
    <link rel='stylesheet' href='/pomelo/css/main.css' />
  </head>

<body>
    
    <img id='logo' src='/pomelo/img/pomelo.png' height='90px' width='90px' alt='Pomelo' />
    
    <span id='titolo'>
        <h1 id='itolo'>{TORNEO}</h1>
        <a href='#' id="admin_button" class='adminButton'>
            <ion-icon id="admin_icon" size='large' name='add'></ion-icon>
        </a>
    </span>

    <center>
        <div id="menu" class="hidden">

            <h4>Partite</h4><br>

            <!-- aggiungi risultato -->
            <form action="/pomelo/submit.php?torneo={TORNEO}" method="post">
                <input type="hidden" name="torneo" value="{TORNEO}">
                <input type="hidden" name="action" value="update">
                <div class="input-group input-padding">
                    <select class="custom-select" name="giocatore1" required>
                        <option value="" disabled selected>Giocat. 1</option>
                        {GIOCATORI}
                    </select>
                    
                    <div class="input-group-append">
                        <span class="input-group-text torneo-icon" style="border-right:none;">
                             vs 
                            <!-- <ion-icon name="md-swap" size="large"></ion-icon> -->
                        </span>
                    </div>

                    <select class="custom-select" name="giocatore2" required>
                        <option value="" disabled selected>Giocat. 2</option>
                        {GIOCATORI}
                    </select>
                    
                    <select class="custom-select col-xs-3 col-md-2" id="inputGroupSelect01" name="esito" required>
                        <option disabled selected value="">esito</option>
                        <option value="1">1</option>
                        <option value="0">2</option>
                    </select>
                    
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary bg-danger text-white bigFontButton" type="submit">
                            <ion-icon size="large" name="md-checkmark"></ion-icon>
                        </button>
                    </div>
                </div>
            </form>
            

            <br /><h4>Giocatori e squadre</h4><br>
            
            <!-- elimina giocatore -->
            <form action="/pomelo/submit.php?torneo={TORNEO}" method="post">
                <input type="hidden" name="action" value="delete">
                <div class="input-group input-padding">
                    <div class="input-group-prepend">
                        <span class="input-group-text">elimina</span>
                    </div>
                    <select class="custom-select" name="giocatore">
                        <option value="" disabled selected>Giocatore</option>
                        {GIOCATORI}
                    </select>

                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary bg-danger text-white bigFontButton" type="submit">
                            <ion-icon size="large" name="md-trash"></ion-icon>
                        </button>
                    </div>
                </div>
            </form>
           
            <!-- aggiungi giocatore -->
            <form action="/pomelo/submit.php?torneo={TORNEO}" method="post">
                <input type="hidden" name="action" value="add">
                <div class="input-group input-padding">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="basic-addon1">aggiungi</span>
                    </div>

                    <input class="form-control" name="nuovoGiocatore" placeholder="Nome">
                                                       
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary bg-danger text-white bigFontButton" type="submit">
                            <ion-icon size="large" name="md-person-add"></ion-icon>
                        </button>
                    </div>
                </div>
            </form>
            <button id="buttonShare" class='btn btn-primary menuButton'>
                Condividi <ion-icon name='ios-share-alt' size='lare'></ion-icon>
            </button>
            <div id="shareMenu" class="submenu hidden">
                
                <span>
                    <!-- Trigger clipboard -->              
                    <button class="btn" data-clipboard-text="/{URL}">
                        <!-- Copia  -->
                        <ion-icon size="" name="md-clipboard"></ion-icon>
                    </button>
                    
                    <a href="img/qr.png" download>
                        <button class="btn">
                            <!-- Scarica QR  -->
                            <ion-icon size="" name="md-download"></ion-icon>
                        </button>
                    </a>
                </span>
                <div>
                    <img id='qr' src='img/qr.png' class="clipb" height='90px' width='90px' alt='qr url' data-clipboard-text="{URL}"/><br>
                </div>
            
            </div>
        </div> <!-- fine menu -->
    </center> 
    

    <div id='content' class='container-fluid'>

        <center>
            <img id='logo_main' src='{LOGO}' height='140px' width='140px' alt='qr url' /><br>
            <br>

            <br>
            <div class='mr-2' role='group' aria-label='1g'>
                <div class='btn-group mr-2' id="button-select" role='group' aria-label='2g'>
                    <button id="buttonRanking" class='btn btn-outline-primary active'>
                        <ion-icon name='ios-trending-up' size='large'></ion-icon>
                    </button>
                    <button id="buttonMatches" class='btn btn-outline-danger active'>
                        <ion-icon name='ios-list' size='large'></ion-icon>
                    </button>
                </div>
            </div>
        </center> 
        
        <div class='row'>
            <div class='col fade-table collapse-ranking' id='ranking'>        
                <h4 class='titleSection'>Ranking</h4>
                <p class='centered'>
                    <!-- #### RANKING #### -->
                    
                    {RANKING}

                </p>
            </div>
            
            <div class='col fade-table collapse-partite' id='partite'>
                <h4 class='titleSection''>Partite</h4>
                <p class='centered'>
                    <!-- #### MATCH #### -->
                    
                    {MATCH}

                </p>
            </div>
            
            
        </div>

    </div>

    <!-- ion-icons -->
    <script src='https://unpkg.com/ionicons@4.5.5/dist/ionicons.js'></script>

</body>
</html>